#Causes all files (except for index.php and importgames.php) to be loaded in as
#/stats/index.php/[FILE] instead of /stats/[FILE]
RewriteRule ^(?:(?!index.php|importgames.php|nohup.out).)*$ index.php$1 [L]
